@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.navigation{
  margin-top: 5%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 15px;
  
  
}

.body{
  display: flex;
  margin-left: 10%;
  
}

.nav_item{
  font-family: 'Poppins', sans-serif;
  margin-top: 15px;
  color: rgb(2, 40, 81);
  font-size: 32px;
  
}

.titletext{
  display: flex;
  font-family: 'Hammersmith One', sans-serif;
  color: rgb(2, 40, 81);
  justify-content: center;
  flex-direction: column;
  margin-left: 20%;

}
#hometext{
  font-size: 150px;

}

#next{
  font-size: 50px;
  margin-left: 30%;
}


.main:before {
  content:'';
  position: absolute;
  background-color: rgb(0, 130, 120);
  opacity: 0.1;
  width: 600px;
  height: 350px;
  margin: auto;
  z-index: -1;
  border: 5px solid lightgray;
  margin-left: 10%
}